.config/google-chrome
.config/uv/uv-receipt.json
.config/go/telemetry/
.config/nvim/lazy-lock.json
.config/Code/**/accessTokenCache
tmux-client-*.log

.claude

# Tmux plugins managed by TPM
.config/tmux/plugins/
