.config/google-chrome
.config/uv/uv-receipt.json
.config/go/telemetry/
tmux-client-*.log
.config/nvim/lazy-lock.json
".config/Code/Azure Accounts/accessTokenCache"
.config/go/telemetry
.config/uv/uv-receipt.json
